/*   font-family: 'Otomanopee One', sans-serif;
 */
:root {
  --max-width: 1000px;
  --border-radius: 4px;
  --violet: rgb(138, 96, 118);
  --yellow: rgb(245, 210, 31);
  --blue: rgb(67, 130, 166);
  --warm-red: rgb(225, 85, 61);
  --ivory: rgb(244, 233, 209);
  --gray: rgb(77, 80, 83);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--ivory);
  font-family: 'Otomanopee One', sans-serif;
  font-size: 16px;
  margin: 10px auto;
  max-height: 100vh;
  max-width: var(--max-width);
  width: 90%;
}

body.modal-is-shown {
  overflow: hidden;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: inline-block;
  font-family: 'Otomanopee One', sans-serif;
  font-size: 2rem;
  margin: 10px 20px;
}

.title {
  font-family: 'Otomanopee One', sans-serif;
  font-size: 3.5rem;
  height: 80px;
  text-align: center;
  text-shadow: 0px 1px 1px gray;
  text-transform: uppercase;
  width: 100%;
}
.title span:nth-child(1),
.title span:nth-child(5),
.congrats-container .congrats-text span:nth-child(2n-1) {
  color: var(--warm-red);
  text-shadow: 3px 3px 0px rgb(238, 161, 90);
}
.title span:nth-child(2),
.congrats-container .congrats-text span:nth-child(2n) {
  color: var(--blue);
  text-shadow: 3px 3px 0px rgb(163, 184, 214);
}
.title span:nth-child(3),
.congrats-container .congrats-text span:nth-child(3n) {
  color: var(--yellow);
  text-shadow: 3px 3px 0px orange;
}
.title span:nth-child(4),
.congrats-container .congrats-text span:nth-child(5n) {
  color: var(--violet);
  text-shadow: 3px 3px 0px rgb(187, 175, 202);
}
.title span:nth-child(6) {
  color: var(--blue);
  text-shadow: 3px 3px 0px rgb(163, 184, 214);
}

.title span:hover {
  color: gray;
  cursor: pointer;
}

@media screen and (max-width: 850px) {
  .title {
    font-size: 2.2rem;
    height: auto;
  }
}

@media screen and (max-width: 600px) and (max-height: 720px) and (orientation: portrait) {
  .title {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 1024px) and (max-height: 900px) and (orientation: landscape) {
  .title {
    font-size: 2.6rem;
  }
}

/* RESULTS */
.results-container {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 750px;
  padding: 0 0 8px;
}

.results-container #restart-btn {
  margin: 0 10px;
  padding: 10px;
}

.results-container #settings-btn {
  margin: 0 0 0 10px;
  padding: 10px 0 10px 10px;
}

.results-container .reset-settings span {
  font-size: 2rem;
}

#h,
#m,
#s,
#moves {
  background-color: var(--blue);
  border-radius: var(--border-radius);
  color: white;
  display: inline-block;
  margin: 0 2px;
  padding: 0 10px;
  text-align: center;
  width: 50px;
}

@media screen and (max-width: 800px) {
  .results-container {
    margin: 0;
    padding: 0 0;
  }

  .results-container .reset-settings span {
    font-size: 1.4rem;
  }

  .results-container #restart-btn,
  .results-container #settings-btn {
    margin: 0;
    padding: 0 5px;
  }

  #h,
  #m,
  #s,
  #moves {
    width: 40px;
  }
}

@media screen and (max-width: 800px) and (orientation: portrait) and (min-height: 800px) {
  .results-container {
    padding: 16px 0;
  }
}

@media screen and (max-height: 900px) {
  .results-container {
    font-size: 1rem;
    padding: 0 0;
  }

  .results-container .reset-settings span {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 600px) and (orientation: portrait) {
  .results-container {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 400px) {
  .results-container {
    font-size: 0.7rem;
    margin-bottom: 16px;
  }
  .results-container .reset-settings span {
    font-size: 1.2rem;
  }
}

/* SETTINGS */
.settings {
  background-color: white;
  border-left: 3px solid var(--yellow);
  border-radius: var(--border-radius);
  border-right: 3px solid var(--blue);
  display: none;
  font-size: 20px;
  left: 50%;
  max-width: 1000px;
  padding: 40px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
  z-index: 2;
}
.pop-up-cover.is-shown {
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  background-color: rgba(77, 80, 83, 0.6);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}
.settings.is-shown {
  display: block;
}

.settings::before {
  background: linear-gradient(
    to right,
    var(--warm-red) 0%,
    var(--warm-red) 20%,
    var(--blue) 20%,
    var(--blue) 40%,
    var(--yellow) 40%,
    var(--yellow) 60%,
    var(--violet) 60%,
    var(--violet) 80%,
    var(--warm-red) 80%,
    var(--warm-red) 100%
  );
  content: '';
  height: 4px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.settings::after {
  background: linear-gradient(
    to right,
    var(--warm-red) 0%,
    var(--warm-red) 20%,
    var(--blue) 20%,
    var(--blue) 40%,
    var(--yellow) 40%,
    var(--yellow) 60%,
    var(--violet) 60%,
    var(--violet) 80%,
    var(--warm-red) 80%,
    var(--warm-red) 100%
  );
  bottom: 0;
  content: '';
  height: 4px;
  left: 0;
  position: absolute;
  right: 0;
}

.settings-cards,
.settings-speed,
.settings-show-cards,
.settings-select {
  padding: 20px 0;
}

.settings input[type='radio'] {
  opacity: 0;
}

.settings input[type='radio'] + label {
  background-color: white;
  background-color: rgba(245, 210, 31, 0.2);
  border-radius: var(--border-radius);
  cursor: pointer;
  padding: 5px 30px;
}

.settings .settings-confirm {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
}
.settings .settings-confirm-btn,
.settings .settings-cancel-btn,
.congrats-container .play-again-btn {
  border: 2px solid var(--yellow);
  border-radius: var(--border-radius);
  font-size: 1.1em;
  height: 60px;
  text-transform: uppercase;
  width: 200px;
}
.settings .settings-confirm-btn,
.congrats-container .play-again-btn {
  background-color: var(--yellow);
}
.settings input[type='radio']:checked + label {
  background-color: var(--yellow);
  border-radius: var(--border-radius);
  color: black;
}

.settings button.selected {
  background-color: var(--violet-light);
  color: var(--blue-light-bcg);
}

.settings .settings-show-cards {
  position: relative;
}

.settings .settings-show-cards-title {
  cursor: help;
}
.settings .show-cards-info-container {
  display: none;
  position: relative;
}

.settings .settings-show-cards-title:hover + .show-cards-info-container {
  display: block;
  left: 40px;
  position: absolute;
  top: 50px;
}

.settings .show-cards-info-text {
  color: var(--warm-red);
  font-size: 12px;
  left: 8px;
  position: absolute;
  text-align: center;
  top: 35px;
}
/* Settings-select for mobile */
.settings-select {
  display: none;
  height: 80px;
}

.settings-select label {
  display: inline-block;

  line-height: 50px;
}

select {
  -webkit-appearance: button;
  appearance: button;
  background-color: rgba(245, 210, 31, 0.2);
  border: none;
  border-radius: var(--border-radius);
  color: black;
  font-family: 'Otomanopee One', sans-serif;
  font-size: 1em;
  height: 50px;
  outline: none;
  padding: 12px;
  width: 60%;
}

@media (max-width: 1024px) and (orientation: landscape) {
  .settings {
    font-size: 16px;
  }
}

@media (max-width: 900px) {
  .settings {
    font-size: 18px;
  }

  .settings .settings-confirm-btn,
  .settings .settings-cancel-btn {
    height: 50px;
    width: 140px;
  }
  .settings {
    padding: 16px;
  }

  .settings-cards,
  .settings-speed,
  .settings-show-cards {
    display: flex;
  }
  .settings > * span {
    padding-top: 5px;
  }
  .settings input[type='radio'] + label {
    padding: 5px 16px;
  }
}

@media (max-width: 667px) {
  .settings {
    font-size: 15px;
  }

  .settings {
    padding: 16px;
  }

  .settings input[type='radio'] + label {
    padding: 5px 16px;
  }
}

@media (max-width: 540px) {
  .settings {
    font-size: 16px;
  }
  .settings-cards,
  .settings-speed,
  .settings-show-cards {
    display: none;
  }
  .settings .settings-confirm {
    justify-content: space-between;
  }
  .settings .settings-confirm-btn,
  .settings .settings-cancel-btn {
    height: 50px;
    margin: 10px 0;
    width: 45%;
  }

  .settings-select {
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: 540px) and (orientation: landscape) {
  .settings-select {
    height: 70px;
  }

  .settings-cards,
  .settings-speed,
  .settings-show-cards,
  .settings-select {
    padding: 0;
  }
}

@media screen and (max-height: 340px) {
  .settings .settings-confirm {
    margin-top: 0px;
  }
  .settings-cards,
  .settings-speed,
  .settings-show-cards {
    padding: 15px 0;
  }
}

@media screen and (max-width: 414px) {
  .settings {
    width: 95%;
  }

  .settings .settings-confirm {
    flex-wrap: wrap;
  }
  .settings .settings-confirm-btn,
  .settings .settings-cancel-btn {
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .settings {
    font-size: 15px;
    width: 100%;
  }
}
/* Settings End */ /* CARDS */

/* Settings Select */

.cards-container {
  display: grid;
  margin: 0 auto;
  max-width: 750px;
}

.cards-container[data-cards-qty='x48'] {
  /*  grid templates xXX added with JS */
  grid-template-columns: repeat(8, 1fr);
  max-width: 1000px;
}
.cards-container[data-cards-qty='x36'] {
  grid-template-columns: repeat(6, 1fr);
}
.cards-container[data-cards-qty='x16'],
.cards-container[data-cards-qty='x8'] {
  grid-template-columns: repeat(4, 1fr);
}

.cards-container .card-container img {
  /* user-drag: none; */
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.cards-container .card-container {
  font-size: 1rem;
  margin: 0;
  padding-top: 100%;
  position: relative;
  width: 100%;
}

.cards-container .card-container:disabled {
  cursor: default;
  opacity: 0;
  visibility: hidden;
}

.cards-container .card {
  background-color: var(--blue);
  border: 3px solid var(--blue);
  border-radius: var(--border-radius);
  height: calc(100% - 10px);
  left: 5px;
  padding: 10%;
  position: absolute;
  top: 5px;
  width: calc(100% - 10px);
}

.card-container.is-shown .card.card--image,
.card-container .card.card--blank {
  transform: rotateY(0);
  transition: transform 0.2s linear 0s, visibility 0s 0.1s,
    background-color 0s 0.1s;
  visibility: visible;
  z-index: 1;
}

.card-container .card.card--image,
.card-container.is-shown .card.card--blank {
  transform: rotateY(180deg);
  transition: transform 0.2s linear 0s, visibility 0s 0.1s,
    background-color 0s 0.1s;
  visibility: hidden;
}

.card-container.is-shown .card {
  background-color: white;

  border-bottom: 3px solid var(--violet);
  border-left: 3px solid var(--warm-red);
  border-right: 3px solid var(--yellow);
  border-top: 3px solid var(--blue);
}

@media screen and (max-width: 600px) and (orientation: portrait) {
  body {
    max-width: 500px;
    width: 96%;
  }
  .cards-container[data-cards-qty='x48'] {
    grid-template-columns: repeat(6, 1fr);
  }

  .cards-container[data-cards-qty='x36'] .card,
  .cards-container[data-cards-qty='x48'] .card {
    padding: 4%;
  }

  .cards-container[data-cards-qty='x36'] .card-container.is-shown .card,
  .cards-container[data-cards-qty='x48'] .card-container.is-shown .card {
    border-bottom: 2px solid var(--violet);
    border-left: 2px solid var(--warm-red);
    border-right: 2px solid var(--yellow);
    border-top: 2px solid var(--blue);
  }
}

@media screen and (max-width: 1400px) and (orientation: landscape) and (min-aspect-ratio: 7/5) {
  .cards-container {
    margin-top: 24px;
  }
  .cards-container[data-cards-qty='x48'] {
    grid-template-columns: repeat(8, 1fr);
  }

  .cards-container[data-cards-qty='x36'] {
    grid-template-columns: repeat(9, 1fr);
  }
}

@media screen and (max-width: 1024px) and (orientation: landscape) and (min-aspect-ratio: 6/5) {
  .title {
    height: auto;
  }
  .results-container {
    font-size: 0.8rem;
  }
  .cards-container {
    margin-top: 16px;
  }

  .cards-container[data-cards-qty='x16'] {
    grid-template-columns: repeat(8, 1fr);
  }

  .cards-container[data-cards-qty='x8'] {
    margin-top: 8px;
    max-width: 80%;
  }
}

/* TODO */ /* CONGRATULATIONS message */
.congrats-container {
  display: none;
  font-size: 15px;
  text-align: center;
}
.congrats-container.is-shown,
.settings-overlay.is-shown {
  background-color: rgba(15, 15, 15, 0.9);
  display: block;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}
.congrats-container > * {
  display: block;
}
.congrats-container .congrats-text {
  font-size: 5em;
  margin: 20% auto 5%;
  text-transform: uppercase;
  width: auto;
}

.congrats-info-text {
  color: var(--ivory);
  font-size: 2em;
}

.play-again-btn-container {
  color: var(--ivory);
  margin: 40px 0;
}

@media screen and (max-width: 950px) and (orientation: portrait) {
  .congrats-container .congrats-text {
    font-size: 50px;
    margin: 30% auto 10%;
  }
}

@media screen and (max-width: 600px) {
  .congrats-container {
    font-size: 10px;
  }
  .congrats-container .congrats-text {
    font-size: 4em;
  }
  .play-again-btn-container {
    font-size: 1.5em;
  }

  .congrats-container .congrats-text span {
    text-shadow: none !important;
  }
}

@media screen and (max-width: 900px) and (orientation: landscape) {
  .congrats-container {
    font-size: 13px;
  }
  .congrats-container .congrats-text {
    margin: 10% auto 5%;
  }
  .congrats-container .play-again-btn {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 700px) and (orientation: landscape) {
  .congrats-container {
    font-size: 10px;
  }
}

@media screen and (max-width: 500px) and (orientation: portrait) {
  .congrats-container .congrats-text {
    font-size: 3.5em;
  }

  .congrats-container .play-again-btn {
    height: 60px;
    width: 200px;
  }
}

@media screen and (max-width: 375px) and (orientation: portrait) {
  .congrats-container .congrats-text {
    font-size: 2.5em;
  }

  .congrats-info-text {
    font-size: 1.7em;
    margin-bottom: 20px;
  }
  .congrats-container .play-again-btn {
    font-size: 1em;
    height: 50px;
    width: 180px;
  }
}
